@import '../../../Styles/variables.scss';
@import '../../../Styles/responsiveness.scss';

.messageform-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .messageform-heading {
    font-family: $headers-font;
    font-weight: 300;
    padding-top: 1em;
    text-align: center;
    font-size: 1.5em;

    @include greater_than($lg) {
      font-size: 1.8em;
    }
  }

  .messageform-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2em;

    %messageform-form-label {
      font-family: $headers-font;
      font-weight: 300;
      margin-bottom: 0.5em;
      @include greater_than($lg) {
        font-size: 1.3em;
      }
    }

    .messageform-form-label-name {
      @extend %messageform-form-label;
    }

    .messageform-form-label-message {
      @extend %messageform-form-label;
      margin-top: 1em;
    }

    .messageform-form-input-name {
      border: 0;
      outline: 0;
      background: transparent;
      font-weight: 300;
      border-bottom: 1px solid #646464;
      width: 200px;
      padding: 2px 0;

      @include greater_than($lg) {
        width: 300px;
        padding: 4px 0;
      }
    }

    .messageform-form-textarea-message {
      border: 1px solid #646464;
      background: transparent;
      outline: none;
      font-weight: 300;
      width: 200px;
      min-height: 80px;
      resize: none;

      @include greater_than($lg) {
        width: 300px;
        padding: 4px 0;
      }
    }

    .messageform-form-input-name::-webkit-input-placeholder,
    .messageform-form-textarea-message::-webkit-input-placeholder {
      color: #646464;
      font-family: $body_font;
      font-weight: 200;

      @include greater_than($lg) {
        font-size: 1.1em;
      }
    }

    .messageform-form-input-name::-moz-placeholder,
    .messageform-form-textarea-message::-moz-placeholder {
      color: #646464;
      font-family: $body_font;
      font-weight: 200;

      @include greater_than($lg) {
        font-size: 1.1em;
      }
    }

    .messageform-form-input-name:-ms-input-placeholder,
    .messageform-form-textarea-message:-ms-input-placeholder {
      color: #646464;
      font-family: $body_font;
      font-weight: 200;

      @include greater_than($lg) {
        font-size: 1.1em;
      }
    }

    .messageform-form-input-name::-ms-input-placeholder,
    .messageform-form-textarea-message::-ms-input-placeholder {
      color: #646464;
      font-family: $body_font;
      font-weight: 200;

      @include greater_than($lg) {
        font-size: 1.1em;
      }
    }

    .messageform-form-input-name::placeholder,
    .messageform-form-textarea-message::placeholder {
      color: #646464;
      font-family: $body_font;
      font-weight: 200;

      @include greater_than($lg) {
        font-size: 1.1em;
      }
    }

    .messageform-form-input-name:focus,
    .messageform-form-textarea-message:focus {
      border: 1px solid $detail-color;
      font-weight: 200;
      font-family: $body_font;
    }
  }
}
