@import '../../Styles/variables.scss';
@import '../../Styles/responsiveness.scss';

.error-message {
  color: $detail-color;
  font-family: $body_font;
  font-weight: 200;
  font-size: 0.8rem;
  opacity: 0.8;

  @include greater_than($lg) {
    font-size: 1em;
  }
}
