@import '../../../Styles/variables.scss';

.lightItem-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 300px;
  background-color: $primary-color-light;
  margin: 1em;
  padding: 1em;
  position: relative;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;

  &:after,
  &:before {
    content: ' ';
    width: 40px;
    height: 40px;
    position: absolute;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  &:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
  }
  &:after {
    top: -1px;
    left: -1px;
    border-top: 4px solid black;
    border-left: 4px solid black;
  }
  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background: rgb(223, 223, 223);
    &:before,
    &:after {
      width: 102%;
      height: 101%;
    }
  }

  .lightItem-header-wrapper {
    height: 80px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    .lightItem-header-name {
      font-family: $headers-font;
      font-weight: bold;
      text-align: end;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 0.9em;
      margin-top: 2em;
    }
  }

  .lightItem-error-message {
    font-size: 0.8em;
  }

  .lightItem-switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0.5em;
    z-index: 2;

    .onoff-text {
      font-size: 1em;
    }

    .switch {
      margin: 0 0.1em;

      .MuiSwitch-colorSecondary.Mui-checked {
        color: grey;
      }

      .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
        background-color: rgba(94, 149, 150, 0.8);
      }

      .MuiSwitch-colorSecondary.Mui-checked:hover {
        background-color: rgba(94, 149, 150, 0.2);
      }

      .MuiSwitch-switchBase {
        color: black;
      }
    }
  }

  .lightItem-slider {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    z-index: 2;
    margin-bottom: 1em;

    .slider {
      color: grey;
      width: 80%;

      .MuiSlider-thumb.Mui-focusVisible,
      .MuiSlider-thumb:hover {
        -webkit-box-shadow: 0px 0px 0px 8px rgba(00, 00, 00, 0.16);
        box-shadow: 0px 0px 0px 8px rgba(00, 00, 00, 0.16);
      }

      .MuiSlider-thumb.Mui-focusVisible,
      .MuiSlider-thumb:active {
        -webkit-box-shadow: 0px 0px 0px 15px rgba(94, 149, 150, 0.16);
        box-shadow: 0px 0px 0px 15px rgba(94, 149, 150, 0.16);
      }
    }

    .brightness-icon {
      color: rgb(102, 100, 100);
      padding-left: 1em;
      font-size: 1.3em;
    }
  }
}
