$headers-font: 'Montserrat', sans-serif;
$body-font: 'Fira Sans', sans-serif;
$display-font: 'Abhaya Libre', serif;
$primary-color-dark: #000000;
$primary-color-medium: #2c2c2c;
$primary-color-light: white;
$text-color-medium: #C4C4C4;
$detail-color: #E87663;
$text-color-dark: black;
$text-color-light: grey;
