$headers-font: 'Montserrat', sans-serif;
$body-font: 'Fira Sans', sans-serif;
$big-animation-font: 'Abhaya Libre', serif;
$small-animation-font: 'Roboto Mono', monospace;
$primary-color-medium: #2c2c2c;
$primary-color-light: white;
$text-color-medium: #c4c4c4;
$text-color-light: grey;
$detail-color: #e87663;
