@import '../../Styles/variables.scss';

.philipsLights-container {
  width: 100vw;
  margin-bottom: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    to right,
    gainsboro 60%,
    $primary-color-medium 40%
  );

  .animate {
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .one {
    animation-delay: 1.7s;
  }

  .two {
    animation-delay: 2.3s;
  }

  .three {
    animation-delay: 3.3s;
  }

  @keyframes fade-in-down {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  .fade-in-down {
    animation-name: fade-in-down;
  }

  @keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  .fade-in-left {
    animation-name: fade-in-left;
  }

  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  .fade-in-right {
    animation-name: fade-in-right;
  }

  .philipsLights-header-container {
    width: 50vw;
    display: flex;
    align-items: flex-end;

    .philipsLights-header-box {
      width: 300px;
      height: 200px;
      background-color: $primary-color-light;
    }

    .philipsLights-header {
      position: absolute;
      font-size: 6em;
      top: 0.5em;
      margin: 0 0 0 1.5em;
    }

    .philipsLights-link {
      font-family: $body-font;
      text-decoration: none;
      margin: 0 0 1em 0.5em;
      min-width: 100px;

      .philipsLights-button {
        font-size: 1em;
        background-color: $detail-color;
        border: none;
        outline: none;
        padding: 0.5em 1em;
        font-family: $headers-font;
        width: 80px;
        cursor: pointer;
      }

      .philipsLights-button:hover {
        background-color: lighten($detail-color, 10%);
        text-decoration: underline;
      }
    }
  }

  .philipsLights-lights-wrapper {
    margin-top: 2em;
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .philipsLights-button-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 70px;
    height: 70px;
    background-color: $primary-color-medium;
    bottom: 0;

    .philipsLights-button-up {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      transition-duration: 0.4s;
      color: $text-color-light;
      font-size: 1.5em;

      .button-up-icon {
        font-size: 1.5em;
        animation: fade_move_up 3s ease-in-out infinite;
      }

      @keyframes fade_move_up {
        0% {
          transform: translate(0, 10px);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          transform: translate(0, -10px);
          opacity: 0;
        }
      }
    }
  }
}
