@import '../../Styles/variables.scss';

.philipsLights-container {
  max-width: 100vw;
  margin-bottom: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(60%, gainsboro),
    color-stop(40%, $primary-color-medium)
  );
  background: -o-linear-gradient(
    left,
    gainsboro 60%,
    $primary-color-medium 40%
  );
  background: linear-gradient(
    to right,
    gainsboro 60%,
    $primary-color-medium 40%
  );

  .animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .one {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
  }

  .two {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
  }

  .three {
    -webkit-animation-delay: 3.3s;
    animation-delay: 3.3s;
  }

  @-webkit-keyframes expand-header {
    0% {
      color: white;
      letter-spacing: -0.5em;
      opacity: 0;
    }

    50% {
      color: white;

      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes expand-header {
    0% {
      color: white;
      letter-spacing: -0.5em;
      opacity: 0;
    }

    50% {
      color: white;

      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }

  .expand-header {
    -webkit-animation: 3s;
    animation: 3s;
    -webkit-animation-name: expand-header;
    animation-name: expand-header;
  }

  @-webkit-keyframes fade-in-down {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes fade-in-down {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  .fade-in-down {
    -webkit-animation-name: fade-in-down;
    animation-name: fade-in-down;
  }

  @-webkit-keyframes fade-in-left {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes fade-in-left {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  .fade-in-left {
    -webkit-animation-name: fade-in-left;
    animation-name: fade-in-left;
  }

  .philipsLights-header-container {
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    .philipsLights-header-box {
      width: 300px;
      height: 200px;
      background-color: $primary-color-light;
    }

    .philipsLights-header {
      position: absolute;
      font-size: 6em;
      top: 0.5em;
      margin: 0 0 0 1.5em;
    }

    .philipsLights-link {
      font-family: $body-font;
      text-decoration: none;
      margin: 0 0 1em 0.5em;
      min-width: 100px;

      .philipsLights-button {
        font-size: 1em;
        background-color: $detail-color;
        border: none;
        outline: none;
        padding: 0.5em 1em;
        font-family: $headers-font;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        width: 80px;
        cursor: pointer;
      }

      .philipsLights-button:hover {
        background-color: lighten($detail-color, 10%);
        text-decoration: underline;
      }
    }
  }

  .philipsLights-lights-wrapper {
    margin: 2em 0;
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .philipsLights-button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 70px;
    height: 60px;
    background-color: $primary-color-medium;
    bottom: 0;

    .philipsLights-button-up {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      transition-duration: 0.4s;
      color: $text-color-light;
      font-size: 1.5em;

      .button-up-icon {
        font-size: 1.5em;
        -webkit-animation: fade_move_up 3s ease-in-out infinite;
        animation: fade_move_up 3s ease-in-out infinite;
      }

      @-webkit-keyframes fade_move_up {
        0% {
          -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
          opacity: 0;
        }
      }

      @keyframes fade_move_up {
        0% {
          -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
          opacity: 0;
        }
      }
    }
  }
}
