@import '../../../Styles/variables.scss';

.sonosdefault-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .sonosdefault-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 40%;
    padding: 2em 1em 0 3em;

    .sonosdefault-top {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .sonosdefault-artist {
        font-size: 1.2em;
        margin: 0;
        letter-spacing: 0.1em;
        font-weight: bold;
        text-transform: uppercase;
      }

      .music-button {
        justify-self: flex-end;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        transition-duration: 0.4s;
        font-size: 1.5em;

        .icon {
          font-size: 1.2em;
        }
      }
    }

    .slider-box {
      display: flex;
      align-items: center;
      width: 100%;

      .sonos-volume {
        color: grey;
        width: 80%;

        .MuiSlider-thumb.Mui-focusVisible,
        .MuiSlider-thumb:hover {
          box-shadow: 0px 0px 0px 8px rgba(00, 00, 00, 0.16);
        }
        .MuiSlider-thumb.Mui-focusVisible,
        .MuiSlider-thumb:active {
          box-shadow: 0px 0px 0px 15px rgba(94, 149, 150, 0.16);
        }
      }

      .volume-icon {
        color: rgba(94, 149, 150, 0.8);
        padding-left: 1em;
        font-size: 1.3em;
      }
    }

    .sonosdefault-title {
      font-family: 'Roboto Mono', monospace;
      text-align: end;
      font-size: 0.8em;
      text-transform: lowercase;
    }

    .sonosdefault-room {
      align-self: flex-end;
      margin: 1em 0 0 0;
      font-family: $headers-font;
      text-transform: lowercase;
      font-size: 1em;
      color: grey;
    }
  }

  .sonosdefault-heading-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    padding: 0 1em 1em 1em;

    .sonosdefault-link {
      font-family: $body-font;
      text-decoration: none;
      min-width: 120px;

      .sonosdefault-button {
        font-size: 1em;
        background-color: $detail-color;
        border: none;
        outline: none;
        padding: 0.7em 1em;
        font-family: $headers-font;
        width: 120px;
        cursor: pointer;
        transition-duration: 0.4s;
      }

      .sonosdefault-button:hover {
        background-color: lighten($detail-color, 10%);
        text-decoration: underline;
      }
    }

    .sonosdefault-heading-line {
      width: 70px;
      margin-right: 0;
      border: 0;
      height: 0;
      border-bottom: 1px solid black;
    }

    .sonosdefault-heading {
      color: #000000;
      font-family: $headers-font;
      font-size: 1.2em;
      margin: 0;
    }
  }
}
