@import '../../Styles/variables.scss';

.submit-button {
    margin-top: 2em;
    background-color: $detail-color;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: .7em 1em;
    font-family: $headers-font;
    width: 80px;
    cursor: pointer;
    transition-duration: 0.4s;

    i {
        padding: 0.2em;
    }
}

.submit-button:hover {
    background-color: lighten($detail-color, 10%);
}

.submit-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
