@import './../../variables.scss';

.home-container {
  background-color: $primary-color-dark;
  color: $text-color-medium;
  transition: all 1s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
