@import '../../Styles/variables.scss';

.home-container {
  display: flex;
  height: 80vh;
  width: 100vw;
  color: $text-color-medium;

  .home-left-section {
    display: flex;
    width: 70%;

    .home-message-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      background-color: gainsboro;

      .home-text-animation {
        height: 40%;
        background-color: #2c2c2c;
        text-align: right;
        font-size: 1.2em;
        color: white;
        padding: 1.1em;
        font-family: 'Special Elite', cursive;

        .home-text-heading {
          font-size: 0.8em;
          text-decoration: underline;
        }
      }
    }

    .home-slackmessage-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      background-color: #ffffff;

      .home-text-animation {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40%;
        background-color: #2c2c2c;
        padding: 1.1em;

        .home-text-prototyp {
          margin: 0;
          font-size: 6em;
          color: white;
          animation: expand 5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite
            alternate both;
        }

        @keyframes expand {
          0% {
            letter-spacing: -0.5em;
            opacity: 0;
          }
          40% {
            opacity: 0.6;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }

  .home-right-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // justify-content: center;

    .home-philipslight-wrapper {
      height: 35%;
      background-color: #e87663;
    }
    .home-sonosplayer-wrapper {
      height: 65%;
      background-color: gainsboro;
    }
  }
}
