@import '../../Styles/variables.scss';
@import '../../Styles/responsiveness.scss';

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  max-width: 100vw;

  .home-left-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;

    .home-message-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 50%;
      background-color: gainsboro;

      .home-text-animation {
        height: 40%;
        background-color: #2c2c2c;
        text-align: right;
        font-size: 1.2em;
        color: white;
        padding: 1.1em;
        font-family: 'Special Elite', cursive;

        @include greater_than($lg) {
          font-size: 2em;
        }

        .home-text-heading {
          font-size: 0.8em;
          text-decoration: underline;

          @include greater_than($lg) {
            font-size: 0.9em;
          }
        }
      }
    }

    .home-slackmessage-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 50%;
      background-color: #ffffff;

      .home-bottom-animation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 40%;
        background-color: #2c2c2c;
        padding: 1.1em;

        .home-text-prototyp {
          margin: 0;
          font-family: $big-animation-font;
          font-size: 6em;
          color: white;
          -webkit-animation: expand 6s infinite alternate both;
          animation: expand 6s infinite alternate both;

          @include greater_than($lg) {
            font-size: 7em;
          }
        }

        @-webkit-keyframes expand {
          0% {
            letter-spacing: -0.6em;
            opacity: 0;
          }
          50% {
            opacity: 0.5;
          }
          100% {
            opacity: 1;
            letter-spacing: 0.2em;
          }
        }

        @keyframes expand {
          0% {
            letter-spacing: -0.6em;
            opacity: 0;
          }
          50% {
            opacity: 0.5;
          }
          100% {
            opacity: 1;
            letter-spacing: 0.2em;
          }
        }
      }
    }
  }

  .home-right-section {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    .home-philipslight-wrapper {
      height: 35%;
      background-color: #e87663;
    }
    .home-sonosplayer-wrapper {
      height: 65%;
      background-color: gainsboro;
    }
  }
}
