@import '../../Styles/variables.scss';

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  height: 80vh;
  width: 8vw;

  .hamburger {
    margin: 2em 1em;
    position: absolute;
    cursor: pointer;

    .bar1 {
      width: 45px;
      height: 2px;
      background-color: #ffffff;
      margin: 6px 0;
      transition: 0.4s;
    }

    .bar2 {
      @extend .bar1;
      width: 22px;
    }

    .bar3 {
      @extend .bar1;
      width: 35px;
    }
  }

  .x {
    @extend .hamburger;
    z-index: 2;

    .bar1 {
      -webkit-transform: scale(0.8) rotate(-45deg) translate(-9px, 4px);
      transform: scale(0.8) rotate(-45deg) translate(-9px, 4px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      -webkit-transform: rotate(45deg) translate(-2px, -8px);
      transform: rotate(45deg) translate(-2px, -8px);
    }
  }

  .navbar {
    z-index: 1;
    align-items: flex-end;
    display: flex;
    position: fixed;
    height: 80vh;
    width: 8vw;
    background-color: $primary-color-medium;

    .navlinks-container {
      margin-bottom: 1em;

      .navbar-login-text {
        color: white;
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        font-family: $headers-font;
        font-size: 0.8em;
      }

      .navlinks {
        margin: 1em 0em 0em 1em;
        @extend .navbar-login-text;

        a:link {
          padding: 1em;
          text-decoration: none;
          writing-mode: vertical-lr;
          transform: rotate(-180deg);
          transition: 0.4s;
        }

        a:visited {
          color: white;
          text-decoration: none;
        }

        a:hover {
          color: $detail-color;
          font-weight: bolder;
        }
      }

      .navlink-line {
        color: white;
        height: 35px;
        border-left: 0.7px solid white;
        margin: 1em;
      }
    }
  }
}
