@import '../../../Styles/variables.scss';

.styles_modal__gNwvD {
  background-color: $primary-color-light;
  width: 400px;
  min-height: 400px;
}

.styles_closeButton__20ID4 {
  outline: none;
  cursor: pointer;
}

.styles_closeButton__20ID4:hover {
  opacity: 0.5;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .message-loading-spinner {
    padding-top: 3em;
    text-align: center;

    .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
  }

  .message-loading-spinner > div {
    width: 10px;
    height: 10px;
    background-color: $primary-color-dark;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
    }

    40% {
      -webkit-transform: scale(1);
    }
  }

  @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  // to always show the scroll
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  .message-posts-container {
    height: 80%;
    overflow: scroll;

    .message-card-container {
      padding: 1em 0;

      ul {
        list-style: none;
        padding: 0;

        li {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 3em;

          .message-message-wrapper {
            width: 200px;

            %message-text-style {
              color: $text-color-dark;
              font-weight: 100;
            }

            .message-message-text {
              @extend %message-text-style;
              font-family: $body_font;
              font-size: 1em;
              font-weight: 400;
            }

            .message-message-name {
              @extend %message-text-style;
              font-size: 1em;
              margin-bottom: 0.5em;
            }

            .message-message-date {
              @extend %message-text-style;
              font-family: $body_font;
              color: #646464;
              font-size: 0.7em;
              margin-top: 0;
            }
          }

          .message-delete-wrapper {
            .message-message-button {
              background: none;
              border: none;

              .message-message-button-icon {
                cursor: pointer;
                font-size: 1em;
                color: #646464;
                transition-duration: 0.4s;
              }

              .message-message-button-icon:hover {
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .no-messages-card {
    padding: 1em;

    .message-message-no-text {
      color: #646464;
      font-weight: 100;
      font-family: $body_font;
      font-size: 1em;
    }
  }

  .message-heading-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1em;

    .message-heading-button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1em;
      color: #646464;
      font-weight: 100;
      font-family: $body_font;
      transition-duration: 0.4s;

      .message-heading-button-icon {
        font-size: 1em;
        padding-right: 0.3em;
      }
    }

    .message-heading-button:hover {
      color: white;
    }

    .message-heading-button:focus {
      outline: none;
    }

    .message-heading {
      color: $text-color-dark;
      font-family: $headers-font;
      font-weight: 400;
      font-size: 1.2em;
      margin: 0;
    }

    .message-heading-line {
      width: 60px;
      margin-right: 0;
      border: 0;
      height: 0;
      border-bottom: 1px solid rgb(00, 00, 00);
    }
  }
}
