@import '../../Styles/variables.scss';
@import '../../Styles/responsiveness.scss';

.loginform-container {
  max-width: 100vw;
  background-color: white;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  .loginform-img {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-image: url('../../assets/loginopt.png');
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .loginform-right-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    .login-top {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      .loginform {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        %loginform-text {
          font-family: $headers-font;
          letter-spacing: 0.3em;
          font-size: 0.9em;

          @include greater_than($lg) {
            font-size: 1.3em;
          }
        }

        label {
          @extend %loginform-text;
          width: 200px;
          padding: 1.7em;
          font-weight: 400;

          @include greater_than($lg) {
            width: 400px;
          }

          i {
            margin-right: 0.5em;
          }
        }

        input {
          @extend %loginform-text;
          font-weight: lighter;
          font-size: 0.8em;
          border: 0;
          background: transparent;
          outline: 0;
          border-bottom: 1px solid #4e4e4e;
          width: 200px;
          padding: 1em 0;

          @include greater_than($lg) {
            font-size: 1.2em;
          }

          @include greater_than($lg) {
            width: 400px;
          }
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
          transition: 'color 9999s ease-out, background-color 9999s ease-out';
          transition-delay: 9999s;
          -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
          -webkit-transition-delay: 9999s;
        }
      }
    }

    .login-bottom {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      position: absolute;

      .login-box {
        width: 400px;
        background-color: gainsboro;

        @include greater_than($lg) {
          width: 500px;
        }
      }

      .login-title {
        font-size: 6em;
        margin: 0 0 0 3em;
        z-index: 1;

        @include greater_than($lg) {
          font-size: 7em;
        }
      }
    }
  }
}
