//@import '../../Styles/responsiveness.scss';
@import '../../Styles/variables.scss';

.content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to right,
    gainsboro 60%,
    $primary-color-medium 40%
  );

  .sonos-header-wrapper {
    width: 50vw;
    display: flex;
    align-items: flex-end;

    .sonos-header-box {
      width: 300px;
      height: 200px;
      background-color: white;
    }

    .sonos-header {
      position: absolute;
      font-size: 5em;
      top: 0.5em;
      margin: 0 0 0 1.5em;
    }

    .sonos-link {
      font-family: $body-font;
      font-size: 0.8em;
      text-decoration: none;
      margin: 0 0 2em 1em;
      min-width: 100px;

      .sonos-button {
        background-color: $detail-color;
        border: none;
        outline: none;
        padding: 0.7em 1em;
        font-family: $headers-font;
        width: 80px;
        cursor: pointer;
      }

      .sonos-button:hover {
        background-color: lighten($detail-color, 10%);
        text-decoration: underline;
      }
    }
  }

  .sonos-wrapper {
    position: relative;

    .sonos-container {
      margin-top: 2em;
      margin-bottom: 20vh;
      width: 90vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      padding: 0;

      .sonos-single-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        background-color: white;
        margin: 1em;
        min-height: 200px;
        min-width: 500px;
        object-fit: cover;
        padding: 1.5em;
        position: relative;
        border-top-right-radius: 11px;
        border-bottom-left-radius: 11px;
        transition: all 1s;
        font-weight: 300;
        text-align: end;
        font-family: $headers-font;

        .artist-heading {
          font-size: 0.7em;
          margin: 0;
          letter-spacing: 0.1em;

          font-weight: bold;

          text-transform: uppercase;
        }

        .songtitle-heading {
          font-size: 1.5em;
          text-transform: lowercase;
          margin: 0;
        }

        .music-button {
          align-self: flex-start;
          z-index: 1;
          background-color: transparent;
          border: none;
          outline: none;

          .icon {
            font-size: 1.2em;
          }
          cursor: pointer;
          transition-duration: 0.4s;
          font-size: 1.5em;
        }

        &:after,
        &:before {
          content: ' ';
          width: 40px; //längden långsida
          height: 40px; //längden kortsida
          position: absolute;
          transition: all 1s;
        }

        &:before {
          bottom: -1px;
          right: -1px;
          border-bottom: 4px solid black;
          border-right: 4px solid black;
        }

        &:after {
          top: -1px;
          left: -1px;
          border-top: 4px solid black;
          border-left: 4px solid black;
        }

        &:hover {
          border-top-right-radius: 0px;
          border-bottom-left-radius: 0px;
          background: rgb(223, 223, 223);
          font-weight: bolder;

          &:before,
          &:after {
            width: 102%;
            height: 101%;
          }
        }

        .slider-box {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: flex-end;
          z-index: 2;

          .sonos-volume {
            color: grey;
            width: 80%;
            .MuiSlider-thumb.Mui-focusVisible,
            .MuiSlider-thumb:hover {
              box-shadow: 0px 0px 0px 8px rgba(00, 00, 00, 0.16);
            }
            .MuiSlider-thumb.Mui-focusVisible,
            .MuiSlider-thumb:active {
              box-shadow: 0px 0px 0px 15px rgba(94, 149, 150, 0.16);
            }
          }

          .volume-icon {
            color: rgba(94, 149, 150, 0.8);
            padding-left: 1em;
            font-size: 1.3em;
          }
        }

        .sonos-heading-container {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          .sonos-heading-line {
            width: 100px;
            margin-right: 0;
            border: 0;
            height: 0;
            border-bottom: 1px solid #2c2c2c;
          }
          .room-heading {
            font-family: $headers-font;
            text-transform: lowercase;
            font-size: 1em;
            margin: 0;
            text-align: end;
            color: grey;
          }
        }
      }
    }
  }

  .animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }

  .one {
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
    animation-delay: 1.7s;
  }

  .two {
    -webkit-animation-delay: 2.3s;
    -moz-animation-delay: 2.3s;
    animation-delay: 2.3s;
  }

  .three {
    -webkit-animation-delay: 2.9s;
    -moz-animation-delay: 2.9s;
    animation-delay: 2.9s;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  @keyframes expand-header {
    0% {
      color: white;
      letter-spacing: -0.5em;
      opacity: 0;
    }

    50% {
      color: white;

      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }

  .expand-header {
    animation: 3s;
    -webkit-animation-name: expand-header;
    animation-name: expand-header;
  }

  @keyframes fade-in-down {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  .fade-in-down {
    animation-name: fade-in-down;
  }

  @-webkit-keyframes fade-in-left {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes fade-in-left {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  .fade-in-left {
    -webkit-animation-name: fade-in-left;
    animation-name: fade-in-left;
  }
}
