$headers-font: 'Montserrat', sans-serif;
$body-font: 'Raleway', sans-serif;
$primary-color-dark: #000000;
$primary-color-medium: #2c2c2c;
$primary-color-light: #ffffff;
$text-color-light: #ffffff;
$text-color-medium: #c4c4c4;
$text-color-dark: #000000;
$detail-color: #e87663;
