@import '../../../Styles/variables.scss';

.slackmessage-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // to always show the scroll
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  .slackmessage-posts-container {
    height: 80%;
    overflow: scroll;

    .slackmessage-card-container {
      padding: 1em 0;

      ul {
        list-style: none;
        padding: 0;

        li {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-bottom: 5em;

          .slackmessages-post-wrapper {
            margin: 16px 0;
            width: 200px;

            %post-text-style {
              color: $text-color-dark;
              font-family: $body_font;
            }

            .slackmessages-post-text {
              @extend %post-text-style;
              font-size: 1rem;
              font-weight: 400;
            }

            .slackmessages-post-user {
              @extend %post-text-style;
              color: #646464;
              font-size: 0.8rem;
              margin-bottom: 0;
              font-weight: 300;
            }
          }
        }
      }
    }
  }

  .no-messages-card {
    padding: 1em;

    .slackmessages-no-text {
      color: #646464;
      font-weight: 100;
      font-family: $body_font;
      font-size: 1rem;
    }
  }

  .slackmessages-heading-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1em;

    .slackmessages-heading-line {
      width: 100px;
      margin-right: 0;
      border: 0;
      height: 0;
      border-bottom: 1px solid $text-color-dark;
    }

    .slackmessages-heading {
      color: $text-color-dark;
      font-family: $headers-font;
      font-weight: 300;
      font-size: 1.2rem;
      margin: 0;
      text-align: end;
    }
  }
}
